@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ce site-web est en construction, merci de votre confiance.</p>


<p>@Html.ActionLink("Acceuil", "Index", "Home")</p>
