@{
    ViewBag.Title = "Nous contacter";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Drushka inc.<br />
    Mariembourg , 5660<br />
    <abbr title="Phone">P:</abbr>
    +32.60.219.953
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sengianderson@hotmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:andrushka1804@gmail.com">Marketing@example.com</a>
</address>
<div>
    @Html.ActionLink("Acceuil", "Index")
</div>
