<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    <hgroup>
        <h1>Erreur.</h1>
        <h2>Une erreur est apparue pendant l'operation de votre requête.</h2>
    </hgroup>
</body>
</html>
