<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DB_Crowdfunding" connectionString="Data Source=ANDRUSHKA-PC\SQLEXPRESS;Initial Catalog=DB_Crowdfunding;Persist Security Info=True;User ID=sa;Password=El@di2202" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>