@model DALAspCrowdfunding.Models.Utilisateur

    <div class="jumbotron">
        <h1>Liste Utilisateur </h1>
        <h4 class="alert-danger">@ViewBag.ErrorMessage</h4>


        <p>............................................................</p>

        <p>
            @Html.ActionLink("Liste Utilisateur", "ListUtilisateur", "Utilisateur")
        </p>

        <p>............................................................</p>

       
        <p>@Html.ActionLink("Acceuil", "Index", "Home")</p>



    </div>

